@import "tailwindcss";

@font-face {
  font-family: "BaiJamjuree";
  src: url('../assets/BaiJamjuree/BaiJamjuree-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: "BaiJamjuree-SemiBold";
  src: url('../../assets/BaiJamjuree/BaiJamjuree-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: "BaiJamjuree-Medium";
  src: url('../../assets/BaiJamjuree/BaiJamjuree-Medium.ttf') format('truetype');
}


.SemiBold {
  font-family: "BaiJamjuree-SemiBold";
}

.Medium {
  font-family: "BaiJamjuree-Medium";
}

.MenuHamburguerOpen {
  animation: open;
  transition: 400ms;
}

.MenuHamburguerClose {
  animation: close;
  transition: 600ms;
  left: 3000px;
}


@keyframes close {
  0% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(3000px);
  }
}

@keyframes open {
  0% {
    transform: translateX(1000px);
  }

  100% {
    transform: translateX(0px);
  }
}